/* iports fonts */
@font-face {
    font-family: "Caveat";
    src: url(./fonts/caveat/Caveat-VariableFont_wght.ttf);
}
body {
    background-color: rgb(5, 5, 53);
    margin: 0.5rem ;
    font-family: 'Caveat';
    font-weight: bolder;
   
}

.contenedor {
    padding: 0 20px ;
    

}
.acciones{
    justify-content: center;
    text-align: center;
    align-items: center;
}
h1 {
    justify-content: center;
    text-align: center;
    align-items: center;
    color: crimson;
    font-size: 50px;
    text-transform: uppercase;
}
.acciones input{

    margin:  0px;
    background-color: rgb(71, 71, 194);
    color: whitesmoke;
    border: none;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}
.acciones select{
 
    margin: 10px 0;
    background-color: rgb(71, 71, 194);
    color: whitesmoke;
    font-family: sans-serif;
    padding: 5px;
    border: none;
    border-radius: 20px;
    
}
.acciones button{
    margin: 5px 0 ;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 200;
    background-color: black;
    color: crimson;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease all;
}
.acciones button:hover{
    background-color: crimson;
    font-weight: 400;
    color: black;
}
.contenedor b{
    color: whitesmoke;
    padding: 5px;
    text-transform: uppercase;
}
.contenido{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
    
}
.contenido ul{
    list-style: none;
}
.contenido li{
    color: whitesmoke;
    font-size: 24px;
    font-weight: 200;
  
 
}
.contenido span{
    color: crimson;
}
footer{
    display: block;
    align-items: center;
    text-align: center;
    align-items: center;
    color: lavender;
    padding: 10px;
    font-weight: 200;
    font-size:12px;
    text-transform: uppercase;
    transition: .3s ease all;
}
footer:hover{
    letter-spacing: 2px;
}
footer a{
 
    color: lavender;
    text-decoration: none;
}